:root{
    --main-color: #19283f;
    --secondary-color:#33d1cc;
    --red-color:#ff3150;
    --yellow-color:#ffc400;
    --third-color:#eff7fa;
}
body{
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}
.main-btn{
    background-color: var(--red-color);
    color: var(--yellow-color);
    padding: 0.5rem 1rem;
}
.main-btn:hover{
    color: var(--secondary-color);
}
/* start nav */
.navbar{
    background-color: var(--main-color);
}
.navbar .navbar-nav .nav-link{
    color: white;
}
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link:hover{
    color: var(--secondary-color);
}

.navbar .searsh{
    border-left: 1px solid var(--secondary-color);
}

.navbar .searsh svg{
    color: var(--secondary-color);
    cursor: pointer;
}

.navbar .navbar-toggler{
    color: white;
    font-size: 1.25rem;
}

.navbar-toggler:focus {
    box-shadow: none;
}
/* end nav */
/* start landing */
.landing{
    background-color: var(--main-color);
    min-height: calc(100vh - 72px);
}
/* emd landing */

/* main title */
.main-title::after{
    content: '';
    position: absolute;
    width: 150px;
    height: 2px;
    background-color: var(--secondary-color);
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}
/* end main title */

/* features */
.features .icon-holder{
    height: 200px;
}

.features .icon-holder svg{
    left: 50%;
    transform: translateX(-50%);
}

.features .icon-holder .number{
    font-size: 12rem;
    color: var(--third-color);
}

.features .icon-holder .icon{
    color: var(--secondary-color);
}

.features .feat h4{
    color: var(--yellow-color);
}
/* emd features */
/* our work */
.our-work{
    background-color: var(--third-color);
}
.our-work ul .active{
    background-color: var(--red-color);
    color: var(--secondary-color);
}
.our-work ul li{
    padding: 0.5rem 1rem;
    cursor: pointer;
}
.our-work ul li:not(.active):hover{
    color: var(--red-color);
}

.our-work .box{
    padding: 5px;
    overflow: hidden;
    position: relative;
}

.our-work .box::before{
    content: attr(data-work);
    position: absolute;
    background-color: #33d1cc91;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    display:flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
    transition: .3s;
    font-size: 1.5rem;
    transform: translateY(calc(100% + 5px));
}
.our-work .box:hover::before{
    transform: translateX(0%);
    cursor: pointer;
}

@media (max-width:426px){
    .our-work ul li {
        padding: .5rem .75rem;
    }
}
/* end our work */
/* stuff */
.stuff .descreption{
    max-width: 500px;
}
/* start team */
.team{
    background-color: var(--third-color);
}

.team h2{
    color: var(--yellow-color);
}

.team .box h4{
    background-color: var(--secondary-color);
}
/* end team */
/* project */
.project{
    background-color: var(--main-color);
}
/* start sub */
.subscribe{
    background-color: var(--yellow-color);
}
.subscribe input[type="text"]{
    border: none;
    border-bottom: 1px solid white;
}
.subscribe input[type="text"]:focus{
    outline: none;
}
.subscribe input[type="submit"]{
    background-color: var(--main-color);
    color: var(--yellow-color);
}
/* end start sub */
/* footer */
.footer{
    background-color: var(--main-color);
}

.footer .copyright > span{
    color: var(--secondary-color);
}

.footer .copyright div span{
    color: var(--yellow-color);
}

.footer .contact ul svg{
    width: 20px;
    height: 20px;
    color: white;
    cursor: pointer;
}

.footer .facebook{
    background-color: #1877f2;
}
.footer .twitter{
    background-color: #1da1f2;
}
.footer .linkedin{
    background-color: #0077b5;
}
.footer .youtube{
    background-color: #ff0000;
}